{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home-page' %}">Home</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">


            <form method="GET">
                {% csrf_token %}
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                        <button type="submit">filter</button>
                    </span>
                    </h5>

                {% for feature in features %}
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by {{ feature.name }}</span>
                </h5>

                <div class="bg-light p-4 mb-30">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-{{ feature.pk }}">All {{ feature.name }}</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    {% for feature_value in feature.feature_values.all %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input {% if feature_value.pk in feat_values %} checked {% endif %} type="checkbox" name="feature_values" value="{{ feature_value.pk }}" class="custom-control-input" id="price-{{ feature_value.pk }}">
                        <label class="custom-control-label" for="price-{{ feature_value.pk }}">{{ feature_value.value }}</label>
                        <span class="badge border font-weight-normal">{{ feature_value.product_features.count }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </form>


        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                        data-toggle="dropdown">Sorting
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light"
                                        data-toggle="dropdown">{{ page_objects.paginator.count }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in page_objects %}
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            {% if product.get_first_image.image %}
                            <img class="img-fluid w-100" src="{{ product.get_first_image.image.url }}" alt="">
                            {% else %}
                            <img class="img-fluid w-100" src="{% static 'img.png' %}" alt="">
                            {% endif %}
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i
                                        class="fa fa-shopping-cart"></i></a>

                                <a class="btn btn-outline-dark btn-square"
                                   href="{% url 'product_wishlists-page' product.id %}">
                                    {% if product.id in wishlists %}
                                    <i class="fas fa-heart" style='color: red'></i>
                                    {% else %}
                                    <i class="far fa-heart"></i>
                                    {% endif %}</a>

                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square"
                                   href="{% url 'product_detail-page' product.pk %}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate"
                               href="{% url 'product_detail-page' product.pk %}">{{ product.title }}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>$123.00</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if page_objects.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_objects.previous_page_number }}">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_objects.previous_page_number }}">{{page_objects.previous_page_number}}</a>
                            </li>

                            {% endif %}

                            <li class="page-item active">
                                <a class="page-link" href="?page={{ num }}">{{ page_objects.number }}</a>
                            </li>

                            {% if page_objects.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_objects.next_page_number }}">{{page_objects.next_page_number}}</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_objects.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

{% endblock  %}

